variables:
  PLATFORMS: "linux/arm64/v8,linux/amd64"
  DOCKER_BUILDKIT: "1"
  FF_NETWORK_PER_BUILD: "true"

.base_job: &base_job
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffux for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

download_db:
  <<: *base_job
  image: ubuntu:latest@sha256:c35e29c9450151419d9448b0fd75374fec4fff364a27f176fb458d472dfc9e54
  script:
    - apt-get update
    - apt-get install -y wget
    - mkdir -p ./data
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-Country.mmdb.tar.gz"
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-City.mmdb.tar.gz"
  artifacts:
    paths:
      - data/*

build:
  <<: *base_job
  needs:
    - job: download_db
      artifacts: true
  image: docker:latest@sha256:7370a6c49b7e708fb969b422dffe6cdd78a9f0ff5b3bfba0e0cddce736c49eaf
  services:
    - docker:dind@sha256:7370a6c49b7e708fb969b422dffe6cdd78a9f0ff5b3bfba0e0cddce736c49eaf
  script:
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker pull "${BASE_IMAGE}" || true

    # Install QEMU emulation support in the kernel
    # See: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images
    - docker run --privileged --rm tonistiigi/binfmt --install all

    # Create a buildx instance if one doesn't already exist
    - if [ "$(docker buildx ls | grep docker-container  | wc -l)" -le "0" ]; then
      docker context create buildx-build;
      docker buildx create --use buildx-build;
      fi

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --file Dockerfile .
      --push

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --build-arg GEOSPATIAL=true
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --file Dockerfile .
      --push

  parallel:
    matrix:
      # Python
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13@sha256:3a11a7dd1e320f810275ad6f7f01d97f1738c74d70b3dbce5285ce126c2437b3"
        MUTABLE_TAG_NAME: "3.13"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.14@sha256:69e37e1668070251e454860ca363c094696f3f11ee803f577efdf04359abb9ee"
        MUTABLE_TAG_NAME: "3.14"
        IMMUTABLE_TAG_NAME: "3.14.${CI_PIPELINE_IID}"

      # Python + Node 22
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13-node22@sha256:ca6b550e52d64017f4663d52210a936bf83aae0f2db5fbb2575a0b41d5930dfc"
        MUTABLE_TAG_NAME: "3.13-node22"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node22"

      # Python + Node 24
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13-node24@sha256:2e851027890da9f969c55f7ba7c519efe2cdb708e9280bf1be192f067b407795"
        MUTABLE_TAG_NAME: "3.13-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:aaced23dcefbf38f876aa208d0d0e1b3991718aef48c9f7fb6cedbc73f3c8df9"
        MUTABLE_TAG_NAME: "3.14-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"
