variables:
  PLATFORMS: "linux/arm64/v8,linux/amd64"
  DOCKER_BUILDKIT: "1"
  FF_NETWORK_PER_BUILD: "true"

.base_job: &base_job
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffux for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

download_db:
  <<: *base_job
  image: ubuntu:latest@sha256:cd1dba651b3080c3686ecf4e3c4220f026b521fb76978881737d24f200828b2b
  script:
    - apt-get update
    - apt-get install -y wget
    - mkdir -p ./data
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-Country.mmdb.tar.gz"
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-City.mmdb.tar.gz"
  artifacts:
    paths:
      - data/*

build:
  <<: *base_job
  needs:
    - job: download_db
      artifacts: true
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  services:
    - docker:dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  script:
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker pull "${BASE_IMAGE}" || true

    # Install QEMU emulation support in the kernel
    # See: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images
    - docker run --privileged --rm tonistiigi/binfmt --install all

    # Create a buildx instance if one doesn't already exist
    - if [ "$(docker buildx ls | grep docker-container  | wc -l)" -le "0" ]; then
      docker context create buildx-build;
      docker buildx create --use buildx-build;
      fi

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --file Dockerfile .
      --push

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --build-arg GEOSPATIAL=true
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --file Dockerfile .
      --push

  parallel:
    matrix:
      # Python
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13@sha256:a05799a5aeaa75103c0523ef374951dc420883c585e711546ce4e6fe1b4d585d"
        MUTABLE_TAG_NAME: "3.13"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.14@sha256:04def26a15dd439dd2b2109b335ea0f7bb22c92ca0ffc7025ed504309f395ea8"
        MUTABLE_TAG_NAME: "3.14"
        IMMUTABLE_TAG_NAME: "3.14.${CI_PIPELINE_IID}"

      # Python + Node 22
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13-node22@sha256:c3c688034c72df897fc84086642ce42ee03d11d475bc66a06bcf9414f0bf99bf"
        MUTABLE_TAG_NAME: "3.13-node22"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node22"

      # Python + Node 24
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13-node24@sha256:1b8dbe389e55376626d03873b30f8c0f22007ac2b8edc6b3c22bc7c2e751b9ac"
        MUTABLE_TAG_NAME: "3.13-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:c58b257eea53a36df7336f2ad3fb91723f80c39975dbd6f894a61d9aca17cd1f"
        MUTABLE_TAG_NAME: "3.14-node24"
        IMMUTABLE_TAG_NAME: "3.14.${CI_PIPELINE_IID}-node24"
