variables:
  PLATFORMS: "linux/arm64/v8,linux/amd64"
  DOCKER_BUILDKIT: "1"

.base_job: &base_job
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffux for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

download_db:
  <<: *base_job
  image: ubuntu:latest@sha256:66460d557b25769b102175144d538d88219c077c678a49af4afca6fbfc1b5252
  script:
    - apt-get update
    - apt-get install -y wget
    - mkdir -p ./data
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-Country.mmdb.tar.gz"
    - wget "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=$MAXMIND_LICENSE_KEY&suffix=tar.gz" -O "data/GeoLite2-City.mmdb.tar.gz"
  artifacts:
    paths:
      - data/*

build:
  <<: *base_job
  needs:
    - job: download_db
      artifacts: true
  image: docker:latest@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac
  services:
    - docker:dind@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac
  script:
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker pull "${BASE_IMAGE}" || true

    # Install QEMU emulation support in the kernel
    # See: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images
    - docker run --privileged --rm tonistiigi/binfmt --install all

    # Create a buildx instance if one doesn't already exist
    - if [ "$(docker buildx ls | grep docker-container  | wc -l)" -le "0" ]; then
      docker context create buildx-build;
      docker buildx create --use buildx-build;
      fi

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --file Dockerfile .
      --push

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --build-arg GEOSPATIAL=true
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}-geospatial${TAG_SUFFIX}"
      --file Dockerfile .
      --push

  parallel:
    matrix:
      # Python
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.12.660@sha256:7243952d35dd5642fa4adfa43ef943c52f48e8f7ca05e616e0fa78f7a3ebab41"
        MUTABLE_TAG_NAME: "3.12"
        IMMUTABLE_TAG_NAME: "3.12.${CI_PIPELINE_IID}"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13.1070@sha256:5a32df777d3dd2b48b48200125785aaf7a96e47a1a040cb4625237f40beb6697"
        MUTABLE_TAG_NAME: "3.13"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}"

      # Python + Node 20
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.12.660-node20@sha256:0e9cdc57214f5587f404bccfc2c0c4553bb1681ec93929a0c479f11bba06f34f"
        MUTABLE_TAG_NAME: "3.12-node20"
        IMMUTABLE_TAG_NAME: "3.12.${CI_PIPELINE_IID}-node20"

      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13.1070-node20@sha256:ac301add64a67ea7fa8821da773e9801813e1c3cb95b9b9898f2d88a568b4869"
        MUTABLE_TAG_NAME: "3.13-node20"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node20"

      # Python + Node 22
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13.1070-node22@sha256:28a126e8c860a45a1973ae0510762bae7b4b6e317ee7298a10b51d459036b2c6"
        MUTABLE_TAG_NAME: "3.13-node22"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node22"

      # Python + Node 24
      - BASE_IMAGE: "registry.gitlab.com/thelabnyc/python:3.13.1070-node24@sha256:ae05ebe0521f55e16abb191bfc2445ba1422fc51fc4481535541670df1371d32"
        MUTABLE_TAG_NAME: "3.13-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"
